html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 88%;
  }
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #161c2d;
  line-height: 1.5;
  overflow-x: hidden;
}

input,
textarea,
select,
button {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #161c2d;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  color: #335eea;
  font-weight: 500;
  background-color: rgba(51, 94, 234, 0.1);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: rgba(51, 94, 234, 0.15);
}

.btn-primary {
  color: #fff;
  background-color: #335eea;
}

.btn-primary:hover {
  background-color: #2b50c7;
}

.btn-secondary {
  color: #fff;
  background-color: #42ba96;
}

.btn-secondary:hover {
  background-color: #389e80;
}

.btn-with-icon > ion-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
  .btn-with-icon > ion-icon {
    display: none;
  }
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #fff;
}

.switch {
  padding: 0.5rem 1rem;
}

.switch > label {
  display: block;
  margin: 0 auto;
  border-radius: 100rem;
  width: 3.2rem;
  height: 1.6rem;
  position: relative;
  overflow: hidden;
  background-color: #d9e2ef;
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
  cursor: pointer;
}

.switch > label:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 0.25s linear, -webkit-transform 0.25s linear;
  transition: background-color 0.25s linear, -webkit-transform 0.25s linear;
  transition: background-color 0.25s linear, transform 0.25s linear;
  transition: background-color 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.switch > input {
  display: none;
}

.switch > input:checked + label {
  background-color: #335eea;
}

.switch > input:checked + label:after {
  -webkit-transform: translate(1.5rem, -50%);
          transform: translate(1.5rem, -50%);
  background-color: white;
}

.js-scroll {
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.js-scroll.scrolled {
  opacity: 1;
}

.js-scroll.scrolled.delay-1 {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.js-scroll.scrolled.delay-2 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.js-scroll.fade-up-secondary {
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-up {
  -webkit-animation: fade-in-bottom 1s ease-in-out both;
          animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-right {
  -webkit-animation: slide-in-right 1s ease-in-out both;
          animation: slide-in-right 1s ease-in-out both;
}

.scrolled.fade-left {
  -webkit-animation: slide-in-left 1s ease-in-out both;
          animation: slide-in-left 1s ease-in-out both;
}

.scrolled.fade-left-custom {
  -webkit-animation: slide-in-left-over 1s ease-in-out both;
          animation: slide-in-left-over 1s ease-in-out both;
}

@media screen and (max-width: 768px) {
  .scrolled.fade-left-custom {
    -webkit-animation: slide-in-left 1s ease-in-out both;
            animation: slide-in-left 1s ease-in-out both;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left-over {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

@keyframes slide-in-left-over {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    opacity: 1;
  }
}

.container {
  max-width: 65rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 60rem;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 35rem;
  }
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
  color: #869ab8;
}

@media screen and (max-width: 992px) {
  .navbar-toggle {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  .navbar-actions {
    display: none;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-buy {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu-buy {
    display: block;
  }
  .menu-buy > button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 992px) {
  .menu-item {
    padding: 1.5rem 1.5rem 0;
    border-bottom: 1px solid #f1f4f8;
  }
}

.menu-link {
  padding: 1rem 1.5rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #506690;
  font-weight: 500;
}

.menu-link:hover {
  color: #335eea;
}

@media screen and (max-width: 992px) {
  .menu-link {
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(calc(100% + 2rem));
            transform: translateX(calc(100% + 2rem));
    position: fixed;
    z-index: 21;
    background-color: #fff;
    top: 0.7rem;
    left: 1rem;
    width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    border-radius: 0.375rem;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: -webkit-transform 350ms ease-in-out;
    transition: -webkit-transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out;
    transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
  }
  .menu.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
            box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  }
  .menu.show > .menu-close {
    opacity: 1;
    visibility: visible;
  }
}

.menu-close {
  cursor: pointer;
  padding: 0.5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.8rem;
  color: #869ab8;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 99;
}

footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f1f4f8;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
}

.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 6rem;
  margin-bottom: 2rem;
}

.footer-desc {
  color: #506690;
  margin: 0.8rem 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-social-list > li > a {
  font-size: 1.5rem;
  color: #869ab8;
  margin-right: 0.8rem;
}

.footer-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media screen and (max-width: 992px) {
  .footer-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 3rem;
  }
}

.footer-item-heading {
  text-transform: uppercase;
  font-weight: 500;
  color: #506690;
}

.footer-item-list > li > a {
  display: inline-block;
  margin-top: 1rem;
  color: #869ab8;
}

.footer-item-list > li > a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  left: 50%;
  top: 150%;
  z-index: 2;
  -webkit-transform: translate(-50%, 2rem);
          transform: translate(-50%, 2rem);
  min-width: 22rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media screen and (max-width: 992px) {
  .dropdown-list {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    margin-top: 1.5rem;
    padding: 0;
    min-width: 0;
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #f1f4f8;
}

.dropdown-item-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.dropdown-item-content {
  margin-left: 1rem;
}

.dropdown-item-heading {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #335eea;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.dropdown-item-text {
  color: #506690;
  font-size: 0.85rem;
  margin-top: 0.4rem;
  display: block;
}

.dropdown-item-ver {
  color: #335eea;
  background-color: rgba(51, 94, 234, 0.1);
  border-radius: 50rem;
  margin-left: auto;
  display: inline-block;
  padding: 0.15rem 0.75rem;
  font-size: 0.75rem;
}

.dropdown-item-menu {
  margin-top: 0.4rem;
}

.dropdown-item-menu > a {
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  margin-bottom: 0.75rem;
}

.dropdown-item-menu > a > span {
  color: #335eea;
  font-size: 0.8rem;
}

.dropdown-item-menu > a:hover {
  color: #335eea;
}

@media screen and (max-width: 992px) {
  .dropdown-item {
    padding: 1rem 0;
  }
}

.dropdown:hover > .dropdown-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 992px) {
  .dropdown:hover > .dropdown-list {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#navbarPages + .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 35rem;
  padding: 1.5rem 2rem;
}

@media screen and (max-width: 992px) {
  #navbarPages + .dropdown-list {
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 0;
  }
}

.dropdown-left > .dropdown-item,
.dropdown-right > .dropdown-item {
  padding: 0.5rem;
  border: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  cursor: auto;
}

@media screen and (max-width: 992px) {
  .dropdown-left > .dropdown-item,
  .dropdown-right > .dropdown-item {
    padding: 0;
    margin-bottom: 1rem;
  }
}

.dropdown-left, .dropdown-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .dropdown-left, .dropdown-right {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#navbarLandings + .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 42rem;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  #navbarLandings + .dropdown-list {
    min-width: 0;
  }
}

.dropdown-img + .dropdown-right {
  padding: 1rem 1.5rem 1rem 2rem;
}

@media screen and (max-width: 992px) {
  .dropdown-img + .dropdown-right {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.dropdown-img {
  background-image: url("../images/photo-3.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  color: #fff;
}

.dropdown-img > * {
  position: relative;
}

.dropdown-img-heading {
  font-size: 1.1rem;
  font-weight: 500;
}

.dropdown-img-desc {
  font-size: 0.875rem;
}

.dropdown-img-view {
  margin-top: 1rem;
}

.dropdown-img::before {
  position: absolute;
  content: '';
  inset: 0;
  background-color: #335eea;
  opacity: 0.7;
}

.dropdown-item-menu.mb-1 {
  margin-bottom: 1rem;
}

#navbarAccount + .dropdown-list {
  min-width: 14rem;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  #navbarAccount + .dropdown-list {
    padding: 0;
    min-width: 0;
    padding-bottom: 1rem;
  }
}

#navbarAccount + .dropdown-list > .dropdown-item {
  border: 0;
  padding: 0.5rem 1rem;
  position: relative;
}

@media screen and (max-width: 992px) {
  #navbarAccount + .dropdown-list > .dropdown-item {
    padding: 0.5rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.dropdown-menu {
  position: absolute;
  left: calc(100% + 1rem);
  top: -1rem;
  min-width: 14rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media screen and (max-width: 992px) {
  .dropdown-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0.5rem 1rem;
    display: none;
  }
}

.dropdown-menu.show {
  display: block;
}

.dropdown-link {
  display: block;
  color: #506690;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.dropdown-link:hover {
  color: #335eea;
}

#navbarAccount + .dropdown-list > .dropdown-item:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  #navbarDocumentation + .dropdown-list {
    padding-bottom: 1rem;
  }
}

.dropdown-toggle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.85rem;
  color: #506690;
}

.dropdown-toggle:hover {
  color: #335eea;
}

@media screen and (max-width: 992px) {
  .dropdown-toggle > ion-icon {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  }
  .dropdown-toggle.active > ion-icon {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@media screen and (max-width: 992px) {
  .dropdown-img {
    display: none;
  }
}

.shape {
  position: relative;
}

.shape-inner {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.shape-inner > img {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  width: 100%;
}

.pricing + .shape {
  margin-top: -16rem;
}

.testimonial + .shape {
  margin-top: -3rem;
}

.carousel {
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .carousel {
    height: 65vh;
  }
}

.carousel-inner {
  position: relative;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .carousel-inner {
    height: 17rem;
  }
}

@media screen and (max-width: 576px) {
  .carousel-inner {
    height: 18.5rem;
  }
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 2.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .carousel-item {
    padding: 2rem 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item {
    padding: 1rem 2.5rem;
  }
}

.carousel-logo {
  width: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .carousel-logo {
    width: 7rem;
  }
}

.carousel-text {
  font-weight: 300;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .carousel-text {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.carousel-author {
  text-transform: uppercase;
  color: #869ab8;
  font-size: 0.85rem;
}

.carousel > button {
  padding: 1rem 1.1rem;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  background-color: #335eea;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.carousel > button > ion-icon {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .carousel > button {
    top: 80%;
  }
}

@media screen and (max-width: 576px) {
  .carousel > button {
    top: 75%;
  }
}

.carousel-next {
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.carousel-back {
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.typewriter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.typewriter > span:first-child {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.welcome {
  padding-top: 6rem;
}

@media screen and (max-width: 768px) {
  .welcome {
    padding-top: 3rem;
  }
}

.welcome-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .welcome-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.welcome-image {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

@media screen and (max-width: 768px) {
  .welcome-image {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-bottom: 2rem;
  }
}

.welcome-content {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media screen and (max-width: 768px) {
  .welcome-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
  }
}

.welcome-title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .welcome-title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 992px) {
  .welcome-title {
    font-size: 2rem;
  }
}

.welcome-title > span {
  color: #335eea;
}

.welcome-description {
  margin-bottom: 2rem;
  color: #869ab8;
  font-size: 1.2rem;
  line-height: 1.8;
}

@media screen and (max-width: 1200px) {
  .welcome-description {
    font-size: 1rem;
  }
}

.welcome-actions > button:first-child {
  margin-right: 4px;
}

.feature {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
  .feature {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.feature-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .feature-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.feature-item {
  -ms-flex-preferred-size: calc(100% / 3 - 1.5rem);
      flex-basis: calc(100% / 3 - 1.5rem);
}

@media screen and (max-width: 768px) {
  .feature-item {
    margin-bottom: 1.5rem;
  }
}

.feature-icon {
  margin-bottom: 1rem;
}

.feature-icon > img {
  width: 3rem;
  height: 3rem;
}

.feature-heading {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .feature-heading {
    font-size: 1.1rem;
  }
}

.feature-description {
  color: #869ab8;
  line-height: 1.8;
}

.brand {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #f1f4f8;
  border-bottom: 1px solid #f1f4f8;
}

.brand-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .brand-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.brand-item {
  -ms-flex-preferred-size: calc(100% / 6 - 2rem);
      flex-basis: calc(100% / 6 - 2rem);
}

@media screen and (max-width: 768px) {
  .brand-item {
    -ms-flex-preferred-size: calc(100% / 3 - 2rem);
        flex-basis: calc(100% / 3 - 2rem);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .brand-item {
    -ms-flex-preferred-size: calc(50% - 1rem);
        flex-basis: calc(50% - 1rem);
  }
}

.about {
  padding-top: 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9fbfd), to(#fff));
  background-image: linear-gradient(180deg, #f9fbfd 0, #fff);
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 3rem;
  }
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .about-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-form {
  border-radius: 8px;
  overflow: hidden;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.about-form:hover {
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  background-color: rgba(51, 94, 234, 0.15);
}

@media screen and (max-width: 992px) {
  .about-form {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}

@media screen and (max-width: 768px) {
  .about-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 2rem;
  }
}

.about-form .form-inner {
  background-color: #fff;
  padding: 1.5rem 2rem 2rem;
}

.about-form .form-group {
  margin-bottom: 0.5rem;
  position: relative;
}

.about-form .form-group > input {
  width: 100%;
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid #f1f4f8;
  font-size: 1rem;
  font-weight: 300;
  font-family: inherit;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.about-form .form-group > input::-webkit-input-placeholder {
  color: transparent;
}

.about-form .form-group > input:-ms-input-placeholder {
  color: transparent;
}

.about-form .form-group > input::-ms-input-placeholder {
  color: transparent;
}

.about-form .form-group > input::placeholder {
  color: transparent;
}

.about-form .form-group > input:focus, .about-form .form-group > input:not(:placeholder-shown) {
  border-color: #335eea;
  padding-bottom: 0.5rem;
  padding-top: 1.5rem;
}

.about-form .form-group > input.error {
  border-color: #dc3545;
}

.about-form .form-group > input:focus + label,
.about-form .form-group > input:not(:placeholder-shown) + label {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: -1rem;
  font-size: 0.7rem;
}

.about-form .form-group > label {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem 0;
  color: #869ab8;
  font-size: 0.9rem;
  font-weight: 300;
  pointer-events: none;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.about-form .form-group > label + small {
  display: block;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  font-size: 0.75rem;
  color: #dc3545;
}

.about-form .form-submit {
  width: 100%;
  margin-top: 1.5rem;
}

.about-content {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

@media screen and (max-width: 992px) {
  .about-content {
    -ms-flex-preferred-size: 52%;
        flex-basis: 52%;
  }
}

.about-heading, .about-heading-bottom, .testimonial-heading, .stat-heading, .pricing-heading {
  font-weight: 300;
  font-size: 1.8rem;
}

.about-heading > span, .about-heading-bottom > span, .testimonial-heading > span, .stat-heading > span, .pricing-heading > span,
.about-heading p,
.about-heading-bottom p,
.testimonial-heading p,
.stat-heading p,
.pricing-heading p {
  color: #42ba96;
}

@media screen and (max-width: 992px) {
  .about-heading, .about-heading-bottom, .testimonial-heading, .stat-heading, .pricing-heading {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .about-heading, .about-heading-bottom, .testimonial-heading, .stat-heading, .pricing-heading {
    font-size: 1.4rem;
  }
}

.about-description, .testimonial-text, .stat-description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #869ab8;
  font-size: 1.1rem;
  line-height: 1.8;
}

.about-list, .pricing-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .about-list, .pricing-item-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about-list > li, .pricing-item-list > li {
  -ms-flex-preferred-size: calc(50% - 2rem);
      flex-basis: calc(50% - 2rem);
  margin-bottom: 1rem;
  color: #42ba96;
}

.about-list > li > ion-icon, .pricing-item-list > li > ion-icon {
  margin-right: 0.5rem;
  border-radius: 50%;
  padding: 3px;
  background-color: rgba(66, 186, 150, 0.1);
  vertical-align: middle;
}

.about-bottom {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .about-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
  }
}

.about-image-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-image-inner {
  width: 130%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .about-image-inner {
    width: 100%;
  }
}

.about-shape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

.about-image {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective-origin: 0;
          perspective-origin: 0;
}

.about-image > img {
  border-radius: 0.625rem;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transform: rotateY(-35deg) rotateX(15deg);
          transform: rotateY(-35deg) rotateX(15deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.about-heading-bottom > span {
  color: #335eea;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2rem;
}

.about-item-icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.about-item-content > h5 {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.about-item-content > p {
  color: #869ab8;
}

.testimonial {
  padding-top: 6rem;
}

.testimonial-top {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .testimonial-heading {
    font-size: 1.4rem;
  }
}

.testimonial-text {
  max-width: calc(100% / 12 * 8);
  margin: 1.5rem auto;
}

@media screen and (max-width: 992px) {
  .testimonial-text {
    max-width: calc(100% / 12 * 10);
  }
}

@media screen and (max-width: 768px) {
  .testimonial-text {
    max-width: 100%;
  }
}

.testimonial-shape {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.testimonial-shape > img {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  height: 100%;
  position: inherit;
  right: inherit;
}

@media screen and (max-width: 768px) {
  .testimonial-shape {
    display: none;
  }
}

.testimonial-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  border-radius: 0.375rem;
  position: relative;
  z-index: 24;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .testimonial-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonial-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonial-item:first-child {
  position: relative;
  z-index: 1;
}

.testimonial-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.375rem;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.testimonial-image:last-of-type {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .testimonial-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.stat {
  padding-top: 10rem;
  background-color: #f1f4f8;
}

@media screen and (max-width: 768px) {
  .stat {
    padding-top: 8rem;
  }
}

.stat-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
  .stat-heading {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .stat-heading {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 376px) {
  .stat-heading {
    font-size: 1.2rem;
  }
}

.stat-heading > span {
  color: #335eea;
}

.stat-description {
  color: #506690;
}

.stat-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat-count-item {
  margin-right: 2rem;
}

.stat-count-number {
  font-size: 1.3rem;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .stat-count-number {
    font-size: 1.2rem;
  }
}

.stat-count-text {
  color: #506690;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .stat-count-text {
    font-size: 0.95rem;
  }
}

.stat-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.stat-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 2rem;
}

@media screen and (max-width: 992px) {
  .stat-image {
    -ms-flex-preferred-size: calc(100% / 12 * 5);
        flex-basis: calc(100% / 12 * 5);
  }
  .stat-content {
    -ms-flex-preferred-size: calc(100% / 12 * 7);
        flex-basis: calc(100% / 12 * 7);
  }
}

@media screen and (max-width: 768px) {
  .stat-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stat-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2.5rem;
    padding-right: 0;
  }
}

.pricing {
  padding-top: 8rem;
  background-color: #f1f4f8;
}

.pricing-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pricing-content {
  text-align: center;
  -ms-flex-preferred-size: calc(100% / 12 * 8);
      flex-basis: calc(100% / 12 * 8);
}

@media screen and (max-width: 992px) {
  .pricing-content {
    -ms-flex-preferred-size: calc(100% / 12 * 10);
        flex-basis: calc(100% / 12 * 10);
  }
}

@media screen and (max-width: 768px) {
  .pricing-content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.pricing-description {
  color: #506690;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-top: 0.5rem;
}

.pricing-switch {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.pricing-switch > span {
  color: #869ab8;
}

.pricing-bottom {
  position: relative;
  z-index: 21;
}

.pricing-billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .pricing-billing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
          box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 0.5rem;
}

.pricing-item:first-child {
  z-index: 3;
}

@media screen and (max-width: 768px) {
  .pricing-item:first-child {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.pricing-item:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .pricing-item:last-child {
    border-radius: 0.5rem;
  }
}

.pricing-item:last-child > .pricing-item-content {
  margin-left: -1rem;
}

@media screen and (max-width: 768px) {
  .pricing-item:last-child > .pricing-item-content {
    margin-left: 0;
  }
}

.pricing-item-content {
  padding: 3rem 4rem 2rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .pricing-item-content {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .pricing-item-content {
    padding: 2rem;
  }
}

.pricing-item-badge {
  color: #335eea !important;
  background-color: rgba(51, 94, 234, 0.1) !important;
  margin-bottom: 0 !important;
}

.pricing-item-number {
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .pricing-item-number {
    font-size: 2.6rem;
  }
}

.pricing-item-number > span:first-child,
.pricing-item-number > span:last-child {
  font-size: 2rem;
  line-height: 2.8;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .pricing-item-number > span:first-child,
  .pricing-item-number > span:last-child {
    font-size: 1.8rem;
    line-height: 2.6;
  }
}

.pricing-item-number > span:first-child {
  line-height: 2;
}

.pricing-item-text {
  margin-top: -1rem;
  color: #869ab8;
}

.pricing-item-list {
  margin-top: 1.5rem;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .pricing-item-list {
    padding-left: 0;
  }
}

.pricing-item-list > li {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  color: #161c2d;
}

@media screen and (max-width: 576px) {
  .pricing-item-list > li {
    font-size: 0.875rem;
  }
}

.pricing-item-list > li > ion-icon {
  color: #42ba96;
  margin-right: 1.125rem;
}

.pricing-item-desc {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem;
  color: #869ab8;
  font-size: 1.2rem;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .pricing-item-desc {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}

.pricing-item-contact {
  width: 100%;
  padding: 1.2rem 1rem;
  border: none;
  background-color: #d9e2ef;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #506690;
  font-weight: 500;
}

.pricing-item-get {
  width: 100%;
  padding: 1.2rem 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1rem;
}

.pricing-item-get:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.faq {
  background-color: #1b2a4e;
  padding-top: 16rem;
}

.faq-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 6rem;
}

@media screen and (max-width: 768px) {
  .faq-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3rem;
  }
}

.faq-item {
  -ms-flex-preferred-size: calc(50% - 1rem);
      flex-basis: calc(50% - 1rem);
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq-content {
  margin-left: 1.5rem;
}

.faq-heading {
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .faq-heading {
    font-size: 1rem;
  }
}

.faq-text {
  color: #869ab8;
  margin-top: 0.5rem;
  line-height: 1.8;
  font-size: 0.95rem;
}

@media screen and (max-width: 768px) {
  .faq-text {
    font-size: 0.9rem;
  }
}

.faq-icon {
  padding: 0.35rem 0.75rem;
  border-radius: 50%;
  background-color: #42ba96;
  color: #fff;
  font-size: 0.75rem;
}

.cta {
  background-color: #1b2a4e;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media screen and (max-width: 768px) {
  .cta {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.cta-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cta-content {
  text-align: center;
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .cta-content {
    max-width: 100%;
  }
}

.cta-heading {
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
}

@media screen and (max-width: 992px) {
  .cta-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .cta-heading {
    font-size: 1.8rem;
    letter-spacing: -0.02em;
  }
}

.cta-description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #869ab8;
}

@media screen and (max-width: 768px) {
  .cta-description {
    font-size: 1rem;
  }
}

.cta-badge, .pricing-item-badge {
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 50rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
  color: #506690;
  text-transform: uppercase;
  background-color: rgba(80, 102, 144, 0.1);
}

@media screen and (max-width: 768px) {
  .cta-button > ion-icon {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */