.container {
  max-width: 65rem;
  padding: 0 1.5rem;
  margin: 0 auto;

  @include responsive-down($lg) {
    max-width: 60rem;
  }

  @include responsive-down($md) {
    max-width: 50rem;
  }

  @include responsive-down($sm) {
    max-width: 35rem;
  }
}

// ---------- HEADER ----------
.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  &-inner {
    @include flex-box(space-between, center);
  }

  &-toggle {
    display: none;
    cursor: pointer;
    color: $text-color-light;

    @include responsive-down($md) {
      display: block;
    }
  }

  &-actions {
    @include responsive-down($md) {
      display: none;
    }
  }
}

.menu {
  display: flex;

  &-buy {
    display: none;

    @include responsive-down($md) {
      display: block;

      & > button {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  &-item {
    @include responsive-down($md) {
      padding: 1.5rem 1.5rem 0;
      border-bottom: 1px solid $background-color;
    }
  }

  &-link {
    padding: 1rem 1.5rem;
    transition: color 200ms ease-in-out;

    color: $text-color-dark;
    font-weight: 500;

    &:hover {
      color: $primary-color;
    }

    @include responsive-down($md) {
      padding: 0;
    }
  }

  @include responsive-down($md) {
    flex-direction: column;

    transform: translateX(calc(100% + 2rem));

    position: fixed;
    z-index: 21;
    background-color: #fff;
    top: 0.7rem;
    left: 1rem;

    width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    border-radius: 0.375rem;

    overflow-y: scroll;
    overflow-x: hidden;

    transition: transform 350ms ease-in-out;

    &.show {
      transform: translateX(0);
      box-shadow: $box-shadow;
    }

    &.show > &-close {
      opacity: 1;
      visibility: visible;
    }
  }

  &-close {
    cursor: pointer;
    padding: 0.5rem;

    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    font-size: 1.8rem;
    color: $text-color-light;

    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 99;
  }
}

// ---------- FOOTER ----------
footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $background-color;

  @include responsive-down($sm) {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
}

.footer {
  &-inner {
    @include flex-box(flex-start, flex-start);

    @include responsive-down($sm) {
      flex-direction: column;
    }
  }

  &-left {
    flex-shrink: 0;
    margin-right: 6rem;
    margin-bottom: 2rem;
  }

  &-desc {
    color: $text-color-dark;
    margin: 0.8rem 0;
  }

  // ul > li > a
  &-social-list {
    display: flex;

    & > li > a {
      font-size: 1.5rem;
      color: $text-color-light;
      margin-right: 0.8rem;
    }
  }

  &-right {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    flex-basis: 25%;

    @include responsive-down($md) {
      flex-basis: 50%;
      margin-bottom: 3rem;
    }

    &-heading {
      text-transform: uppercase;
      font-weight: 500;
      color: $text-color-dark;
    }

    // ul > li > a
    &-list > li > a {
      display: inline-block;
      margin-top: 1rem;
      color: $text-color-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
