// MIXINS
@mixin flex-box(
  $justify-content: flex-start,
  $align-items: stretch,
  $wrap: nowrap,
  $direction: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// MEDIA QUERIES
@mixin responsive-down($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// BUTTON
.btn {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 8px;
  border: none;

  font-family: $font-family;
  font-size: 0.875rem;
  color: $primary-color;
  font-weight: 500;

  background-color: rgba(51, 94, 234, 0.1);
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: $box-shadow;
    transform: translateY(-3px);
    background-color: rgba(51, 94, 234, 0.15);
  }

  &-primary {
    color: #fff;
    background-color: $primary-color;

    &:hover {
      background-color: #2b50c7;
    }
  }

  &-secondary {
    color: #fff;
    background-color: $secondary-color;

    &:hover {
      background-color: #389e80;
    }
  }

  &-with-icon {
    & > ion-icon {
      vertical-align: middle;
      margin-left: 0.5rem;

      @include responsive-down($sm) {
        display: none;
      }
    }
  }

  &-white {
    background-color: #fff;

    &:hover {
      box-shadow: $box-shadow;
      transform: translateY(-3px);
      background-color: #fff;
    }
  }
}

// SWITCH
.switch {
  padding: 0.5rem 1rem;

  & > label {
    display: block;
    margin: 0 auto;
    border-radius: 100rem;
    width: 3.2rem;
    height: 1.6rem;

    position: relative;
    overflow: hidden;
    background-color: #d9e2ef;

    transition: background-color 0.25s linear;
    cursor: pointer;
  }

  & > label:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;

    width: 1.15rem;
    height: 1.15rem;
    border-radius: 50%;

    background-color: #fff;
    transition: background-color 0.25s linear, transform 0.25s linear;
  }

  & > input {
    display: none;
  }

  & > input:checked + label {
    background-color: $primary-color;
  }

  & > input:checked + label:after {
    transform: translate(1.5rem, -50%);
    background-color: white;
  }
}

// ANIMATION ON SCROLL
.js-scroll {
  opacity: 0;
  transition: all 500ms ease-in-out;

  &.scrolled {
    opacity: 1;

    // on delay
    &.delay-1 {
      animation-delay: 50ms;
    }

    &.delay-2 {
      animation-delay: 100ms;
    }
  }

  // Fade up without scroll
  &.fade-up-secondary {
    animation: fade-in-bottom 1s ease-in-out both;
  }
}

.scrolled {
  &.fade-up {
    animation: fade-in-bottom 1s ease-in-out both;
  }

  &.fade-right {
    animation: slide-in-right 1s ease-in-out both;
  }

  &.fade-left {
    animation: slide-in-left 1s ease-in-out both;
  }

  &.fade-left-custom {
    animation: slide-in-left-over 1s ease-in-out both;

    @include responsive-down($sm) {
      animation: slide-in-left 1s ease-in-out both;
    }
  }
}

// ----------
@keyframes fade-in-bottom {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left-over {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(10px);
    opacity: 1;
  }
}
