@import './variables';
@import './base';
@import './modules';
@import './layout';
@import './other';

// ---------- WELCOME SECTION ----------
.welcome {
  padding-top: 6rem;

  @include responsive-down($sm) {
    padding-top: 3rem;
  }

  &-inner {
    @include flex-box(space-between, center);

    @include responsive-down($sm) {
      flex-direction: column;
    }
  }

  &-image {
    transform: translateX(25%);
    order: 1;
    flex-basis: 55%;

    @include responsive-down($sm) {
      transform: translateX(0);
      margin-bottom: 2rem;
    }
  }

  &-content {
    flex-basis: 45%;

    @include responsive-down($sm) {
      order: 1;
      text-align: center;
    }
  }

  &-title {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.5;

    margin-bottom: 1.5rem;

    @include responsive-down($lg) {
      font-size: 2.2rem;
    }

    @include responsive-down($md) {
      font-size: 2rem;
    }

    & > span {
      color: $primary-color;
    }
  }

  &-description {
    margin-bottom: 2rem;
    color: $text-color-light;
    font-size: 1.2rem;
    line-height: 1.8;

    @include responsive-down($lg) {
      font-size: 1rem;
    }
  }

  &-actions {
    & > button:first-child {
      margin-right: 4px;
    }
  }
}

// ---------- FEATURE SECTION----------
.feature {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include responsive-down($sm) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &-inner {
    @include flex-box(space-between, stretch);

    @include responsive-down($sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-item {
    flex-basis: calc(100% / 3 - 1.5rem);

    @include responsive-down($sm) {
      margin-bottom: 1.5rem;
    }
  }

  &-icon {
    margin-bottom: 1rem;
    & > img {
      width: 3rem;
      height: 3rem;
    }
  }

  &-heading {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size: 1.2rem;

    @include responsive-down($sm) {
      font-size: 1.1rem;
    }
  }

  &-description {
    color: $text-color-light;
    line-height: 1.8;
  }
}

// ---------- BRAND SECTION ----------
.brand {
  padding-top: 3rem;
  padding-bottom: 3rem;

  border-top: 1px solid $background-color;
  border-bottom: 1px solid $background-color;

  &-inner {
    @include flex-box(space-between, center);

    @include responsive-down($sm) {
      flex-wrap: wrap;
    }
  }

  &-item {
    flex-basis: calc(100% / 6 - 2rem);

    @include responsive-down($sm) {
      flex-basis: calc(100% / 3 - 2rem);
      margin-bottom: 1rem;
    }

    @include responsive-down($xs) {
      flex-basis: calc(50% - 1rem);
    }
  }
}

// ---------- ABOUT SECTION ----------
.about {
  padding-top: 6rem;
  background-image: linear-gradient(180deg, #f9fbfd 0, #fff);

  @include responsive-down($sm) {
    padding-top: 3rem;
  }

  // ----- TOP -----
  &-top {
    @include flex-box(space-between, center);

    @include responsive-down($sm) {
      flex-direction: column;
    }
  }

  // ABOUT FORM
  &-form {
    border-radius: 8px;
    overflow: hidden;
    flex-basis: 40%;

    transition: all 200ms ease-in-out;

    &:hover {
      box-shadow: $box-shadow;
      transform: translateY(-4px);
      background-color: rgba(51, 94, 234, 0.15);
    }

    @include responsive-down($md) {
      flex-basis: 42%;
    }

    @include responsive-down($sm) {
      order: 1;
      margin-top: 2rem;
    }
  }

  &-form .form {
    &-inner {
      background-color: $background-color-light;
      padding: 1.5rem 2rem 2rem;
    }

    &-group {
      margin-bottom: 0.5rem;
      position: relative;

      & > input {
        width: 100%;
        padding: 1rem 0;
        border: 0;
        border-bottom: 1px solid $background-color;

        font-size: 1rem;
        font-weight: 300;
        font-family: inherit;
        transition: 200ms linear;

        &::placeholder {
          color: transparent;
        }

        &:focus,
        &:not(:placeholder-shown) {
          border-color: $primary-color;
          padding-bottom: 0.5rem;
          padding-top: 1.5rem;
        }

        &.error {
          border-color: #dc3545;
        }
      }

      & > input:focus + label,
      & > input:not(:placeholder-shown) + label {
        transform: translateY(0);
        top: -1rem;
        font-size: 0.7rem;
      }

      & > label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        padding: 1rem 0;
        color: $text-color-light;
        font-size: 0.9rem;
        font-weight: 300;

        pointer-events: none;
        transition: 200ms linear;

        & + small {
          display: block;
          transform: translateY(0.5rem);
          font-size: 0.75rem;
          color: #dc3545;
        }
      }
    }

    &-submit {
      width: 100%;
      margin-top: 1.5rem;
    }
  }

  // CONTENT
  &-content {
    flex-basis: 48%;

    @include responsive-down($md) {
      flex-basis: 52%;
    }
  }

  &-heading {
    font-weight: 300;
    font-size: 1.8rem;

    & > span,
    p {
      color: $secondary-color;
    }

    @include responsive-down($md) {
      font-size: 1.6rem;
    }

    @include responsive-down($xs) {
      font-size: 1.4rem;
    }
  }

  &-description {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    color: $text-color-light;
    font-size: 1.1rem;
    line-height: 1.8;
  }

  &-list {
    @include flex-box(space-between, center, wrap);

    @include responsive-down($md) {
      flex-direction: column;
      align-items: flex-start;
    }

    & > li {
      flex-basis: calc(50% - 2rem);
      margin-bottom: 1rem;
      color: $secondary-color;
    }

    & > li > ion-icon {
      margin-right: 0.5rem;
      border-radius: 50%;
      padding: 3px;

      background-color: rgba(66, 186, 150, 0.1);
      vertical-align: middle;
    }
  }

  // ----- BOTTOM -----
  &-bottom {
    margin-top: 6rem;
    @include flex-box(space-between, center);

    @include responsive-down($sm) {
      flex-direction: column;
      margin-top: 3rem;
    }
  }

  // IMAGE
  &-image-container {
    flex-basis: 50%;
  }

  &-image-inner {
    width: 130%;
    position: relative;

    @include responsive-down($sm) {
      width: 100%;
    }
  }

  &-shape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 100%;
    transform: translateX(-50%) scale(1.1);
  }

  &-image {
    perspective: 1500px;
    transform-style: preserve-3d;
    perspective-origin: 0;

    & > img {
      border-radius: 0.625rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      transform: rotateY(-35deg) rotateX(15deg);
      backface-visibility: hidden;
    }
  }

  // CONTENT
  &-heading-bottom {
    @extend .about-heading;

    & > span {
      color: $primary-color;
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;

    &-icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1.5rem;
    }

    &-content {
      & > h5 {
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      & > p {
        color: $text-color-light;
      }
    }
  }
}

// ---------- TESTIMONIAL SECTION ----------
.testimonial {
  padding-top: 6rem;

  // TOP
  &-top {
    text-align: center;
    margin-bottom: 4rem;
  }

  &-heading {
    @extend .about-heading;

    @include responsive-down($sm) {
      font-size: 1.4rem;
    }
  }

  &-text {
    @extend .about-description;

    max-width: calc(100% / 12 * 8);
    margin: 1.5rem auto;

    @include responsive-down($md) {
      max-width: calc(100% / 12 * 10);
    }

    @include responsive-down($sm) {
      max-width: 100%;
    }
  }

  &-shape {
    position: absolute;
    inset: 0;
    overflow: hidden;

    & > img {
      transform: scale(2);
      transform-origin: center left;

      height: 100%;
      position: inherit;
      right: inherit;
    }

    @include responsive-down($sm) {
      display: none;
    }
  }

  // BOTTOM
  &-bottom {
    display: flex;
    margin-bottom: 2rem;
    border-radius: 0.375rem;

    position: relative;
    z-index: 24;

    box-shadow: $box-shadow;
    background-color: #fff;

    @include responsive-down($sm) {
      flex-direction: column;
    }
  }

  &-item {
    flex: 1;

    &:first-child {
      position: relative;
      z-index: 1;
    }
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 0.375rem;
    transition: all 500ms ease-in-out;

    &:last-of-type {
      position: absolute;
      top: 0;
      left: 0;
    }

    @include responsive-down($sm) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

// ---------- STAT SECTION ----------
.stat {
  padding-top: 10rem;
  background-color: $background-color;

  @include responsive-down($sm) {
    padding-top: 8rem;
  }

  &-inner {
    @include flex-box(space-between, center);
  }

  &-heading {
    @extend .about-heading;

    @include responsive-down($lg) {
      font-size: 1.6rem;
    }

    @include responsive-down($xs) {
      font-size: 1.4rem;
    }

    @include responsive-down(376px) {
      font-size: 1.2rem;
    }

    & > span {
      color: $primary-color;
    }
  }

  &-description {
    @extend .about-description;
    color: $text-color-dark;
  }

  &-count {
    display: flex;

    &-item {
      margin-right: 2rem;
    }

    &-number {
      font-size: 1.3rem;
      font-weight: 300;

      @include responsive-down($sm) {
        font-size: 1.2rem;
      }
    }

    &-text {
      color: $text-color-dark;
      font-weight: 300;

      @include responsive-down($sm) {
        font-size: 0.95rem;
      }
    }
  }

  &-image {
    flex-basis: 50%;
  }

  &-content {
    flex-basis: 50%;
    padding-right: 2rem;
  }

  @include responsive-down($md) {
    &-image {
      flex-basis: calc(100% / 12 * 5);
    }

    &-content {
      flex-basis: calc(100% / 12 * 7);
    }
  }

  @include responsive-down($sm) {
    &-inner {
      flex-direction: column;
    }

    &-content {
      order: 2;
      margin-top: 2.5rem;
      padding-right: 0;
    }
  }
}

// ---------- PRICING SECTION ----------
.pricing {
  padding-top: 8rem;
  background-color: $background-color;

  // TOP
  &-top {
    @include flex-box(center, center);
  }

  &-content {
    text-align: center;
    flex-basis: calc(100% / 12 * 8);

    @include responsive-down($md) {
      flex-basis: calc(100% / 12 * 10);
    }

    @include responsive-down($sm) {
      flex-basis: 100%;
    }
  }

  &-heading {
    @extend .about-heading;
  }

  &-description {
    color: $text-color-dark;
    font-size: 1.2rem;
    line-height: 1.8;

    padding-top: 0.5rem;
  }

  &-switch {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    @include flex-box(center, center);

    & > span {
      color: $text-color-light;
    }
  }

  // BOTTOM
  &-bottom {
    position: relative;
    z-index: 21;
  }

  &-billing {
    @include flex-box(space-between, center);

    @include responsive-down($sm) {
      flex-direction: column;
    }
  }

  &-item {
    flex-basis: 50%;
    overflow: hidden;

    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.1);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-radius: 0.5rem;

    &:first-child {
      z-index: 3;

      @include responsive-down($sm) {
        width: 100%;
        margin-bottom: 2rem;
      }
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      @include responsive-down($sm) {
        border-radius: 0.5rem;
      }
    }

    &:last-child > &-content {
      margin-left: -1rem;
      @include responsive-down($sm) {
        margin-left: 0;
      }
    }

    &-content {
      padding: 3rem 4rem 2rem;
      text-align: center;

      @include responsive-down($md) {
        padding: 2rem 1rem;
      }

      @include responsive-down($sm) {
        padding: 2rem;
      }
    }

    &-badge {
      color: $primary-color !important;
      background-color: rgba(51, 94, 234, 0.1) !important;
      margin-bottom: 0 !important;

      @extend .cta-badge;
    }

    &-number {
      margin-top: 1.5rem;
      font-weight: 400;
      font-size: 3.2rem;

      display: flex;
      justify-content: center;

      @include responsive-down($sm) {
        font-size: 2.6rem;
      }

      & > span:first-child,
      & > span:last-child {
        font-size: 2rem;
        line-height: 2.8;
        font-weight: 300;

        @include responsive-down($sm) {
          font-size: 1.8rem;
          line-height: 2.6;
        }
      }

      & > span:first-child {
        line-height: 2;
      }
    }

    &-text {
      margin-top: -1rem;
      color: $text-color-light;
    }

    &-list {
      @extend .about-list;

      margin-top: 1.5rem;
      padding-left: 1rem;

      flex-direction: column;
      align-items: flex-start;

      @include responsive-down($xs) {
        padding-left: 0;
      }

      & > li {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        font-weight: 300;
        color: $text-color;

        @include responsive-down($xs) {
          font-size: 0.875rem;
        }

        & > ion-icon {
          color: $secondary-color;
          margin-right: 1.125rem;
        }
      }
    }

    &-desc {
      margin-top: 5.5rem;
      margin-bottom: 5.5rem;

      color: $text-color-light;
      font-size: 1.2rem;
      line-height: 1.8;

      @include responsive-down($sm) {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
      }
    }

    &-contact {
      width: 100%;
      padding: 1.2rem 1rem;
      border: none;

      background-color: #d9e2ef;

      font-size: 1rem;
      font-family: $font-family;
      color: $text-color-dark;
      font-weight: 500;
    }

    &-get {
      width: 100%;
      padding: 1.2rem 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      font-size: 1rem;

      &:hover {
        box-shadow: none;
        transform: translateY(0);
      }
    }
  }
}

// ---------- FAQ SECTION ----------
.faq {
  background-color: $background-color-dark;
  padding-top: 16rem;

  &-inner {
    @include flex-box(space-between, stretch, wrap);
    padding-top: 6rem;

    @include responsive-down($sm) {
      flex-direction: column;
      padding-top: 3rem;
    }
  }

  &-item {
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;

    display: flex;
    align-items: flex-start;
  }

  &-content {
    margin-left: 1.5rem;
  }

  &-heading {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;

    @include responsive-down($sm) {
      font-size: 1rem;
    }
  }

  &-text {
    color: $text-color-light;
    margin-top: 0.5rem;
    line-height: 1.8;
    font-size: 0.95rem;

    @include responsive-down($sm) {
      font-size: 0.9rem;
    }
  }

  &-icon {
    padding: 0.35rem 0.75rem;
    border-radius: 50%;
    background-color: $secondary-color;
    color: #fff;
    font-size: 0.75rem;
  }
}

// ---------- CTA SECTION ----------
.cta {
  background-color: $background-color-dark;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include responsive-down($sm) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &-inner {
    @include flex-box(center, center);
  }

  &-content {
    text-align: center;
    max-width: 70%;

    @include responsive-down($sm) {
      max-width: 100%;
    }
  }

  &-heading {
    color: #fff;
    font-weight: 400;
    font-size: 2.4rem;

    @include responsive-down($md) {
      font-size: 2rem;
    }

    @include responsive-down($sm) {
      font-size: 1.8rem;
      letter-spacing: -0.02em;
    }
  }

  &-description {
    margin-top: 1rem;
    margin-bottom: 2rem;

    font-size: 1.1rem;
    color: $text-color-light;

    @include responsive-down($sm) {
      font-size: 1rem;
    }
  }

  &-badge {
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 50rem;
    padding: 0.25rem 0.75rem;

    font-size: 0.8rem;
    color: $text-color-dark;
    text-transform: uppercase;

    background-color: rgba(80, 102, 144, 0.1);
  }

  &-button > ion-icon {
    @include responsive-down($sm) {
      display: inline-block;
    }
  }
}
